<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EncryptionKey" value="BE8BE3A1-A7EC-4E4A-816A-6BE9B2638241" />
    <add key="SaltKey" value="3481669A-6A6B-481F-9616-95D7A9B8A226" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>